.btn {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  padding: 0.375rem 0.75rem;
  height: 50px;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
  background: #cdb9af;
  border: 1px solid #cdb9af;
  /* background: #fbceb5;
  border: 1px solid #fbceb5; */
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.8px;
}

.btn:hover {
  background: #aa9b93;
  /* background: #000; */
  border: 1px solid transparent;
  color: #fff;
}

.btn:active {
  background: #8e837d;
  /* color: #000; */
}
