.wrapper {
  margin: auto;
  width: 40%;
}

.group {
  margin-bottom: 1em;
}

@media screen and (max-width: 728px) {
  .wrapper {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .wrapper {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .wrapper {
    width: 100%;
  }
}
